.film-details {
  padding: 20px;
}

.movieDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
}

.movieDescription p {
  padding: 0.4em 0;
}

.movieDescription a {
  text-decoration: none;
  color: black;
}

.distribution {
  display: flex;
  align-items: center;
}

.distribution p {
  padding-left: 0.3em;
}

.film-recommendations {
  margin-top: 20px;
}

.film-recommendations h2 {
  display: flex;
  justify-content: center;
  color: white;
  background: black;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

/* .buttonSlider {
  background-color: white;
  border: none;
  font-size: 1.3em;
}

.buttonSlider:hover {
  background-color: lightgray;
} */

.recommendation-card {
  flex: 0 0 auto; /* Les éléments ne grandissent pas, ne rétrécissent pas, mais sont basés sur leur largeur */
  width: 160px; /* Définissez une largeur fixe pour chaque carte de recommandation */
  border: 1px solid #ddd;
  border-radius: 5px;
  height: auto;
  padding: 0.5em;
  margin: 0.3em;
  text-align: center;
}

.recommendation-card img {
  width: 100%;
  height: auto;
}

.recommendation-card h4 {
  height: 50px;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

@media (min-width: 600px) {
  .film-details {
    padding: 20px;
  }

  .film-recommendations {
    margin-top: 20px;
  }

  .film-details img {
    max-height: 400px; /* limite la hauteur de l'image pour éviter qu'elle soit trop grande */
    object-fit: cover; /* assure que l'image couvre la zone définie sans perdre son ratio d'aspect */
    margin-right: 20px; /* ajoute un peu d'espace entre l'image et le texte à côté */
  }

  .film-details > * {
    flex: 1; /* donne une flexibilité égale aux éléments enfants direct de .film-details, permettant un arrangement plus équilibré */
  }
}

@media (min-width: 600px) {
  .film-details > * {
    flex: 1; /*donne une flexibilité égale aux éléments enfants direct de .film-details, permettant un arrangement plus équilibré */
  }
}
