nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 0 3em;
  text-decoration: none;
  color: white;
}

#burger-menu,
#menu {
  display: none;
}

/* ------- Media Queries de la Nav Bar (changement d'affichage et passe en menu burger ------- */
@media screen and (max-width: 767px) {
  #logoNavBar {
    max-width: 14em;
    height: 5em;
    display: block;
    margin: auto;
  }

  nav {
    display: none;
  }

  #burger-menu {
    display: flex;
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: auto;
    overflow: visible;
    position: relative;
    z-index: 2;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: white;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }

  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }

  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }

  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }

  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }

  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  #menu {
    display: flex;
    z-index: 1;
    min-width: 50%;
    position: absolute;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 4em 4em;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  #menu.overlay {
    margin: 1em 0;
    padding-top: 2em;
    visibility: visible;
    opacity: 1;
    background: #8e3b46;
  }

  #menu ul {
    padding: 0;
  }

  #menu li {
    list-style: none;
  }

  #menu a {
    color: white;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 0 15px;
  }
}
