/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
}

body h1 {
  text-align: center;
}

header {
  background-color: #8e3b46;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#title,
#filtres,
main {
  background-color: #f9f8f1;
}

.film-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

@media (max-width: 677px) {
  .film-grid {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .film-grid {
    justify-content: space-around;
  }
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 1em 0;
  border: 0.2em solid #8e3b46;
  border-radius: 2em;
  background: white;
}

.movieTitle {
  height: 2.7em;
  font-size: 1.3em;
  text-align: center;
}

.movieImg {
  max-width: 90%;
  height: 25em;
  padding: 0.5em 0;
  border-radius: 2em;
}

.movie p {
  padding: 0.2em 0;
}

legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0.2em solid #8e3b46;
  border-radius: 2em;
  padding: 5px;
  margin-bottom: 10px;
  background: white;
}

.filtre {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  padding: 10px;
}

.lienDetails {
  text-decoration: none;
  color: black;
}

.Filtre {
  text-align: center;
}

.Filtre button {
  border: 0.2em solid #8e3b46;
  border-radius: 2em;
  padding: 5px;
  background: white;
}

.filtre input {
  margin-right: 5px;
}

#filtres {
  padding: 20px;
}
