/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.film-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 1em 0;
  border: 0.2em solid lightgray;
  border-radius: 2em;
}

.movieTitle {
  height: 2.7em;
  font-size: 1.3em;
  text-align: center;
}

.movieImg {
  max-width: 90%;
  height: 25em;
  padding: 0.5em 0;
  border-radius: 2em;
}

.movie p {
  padding: 0.2em 0;
}

legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0.2em solid lightgray;
  border-radius: 2em;
  padding: 5px;
  margin-bottom: 10px;
}

.filtre {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  padding: 10px;
}

.lienDetails {
  text-decoration: none;
  color: black;
}

.Filtre {
  text-align: center;
}

.Filtre button {
  border: 0.2em solid lightgray;
  border-radius: 2em;
  padding: 5px;
}

.filtre input {
  margin-right: 5px;
}

#filtres {
  margin: 20px;
}
